@import "resset.scss";

//$black: #000000;
//$orange: #FF6336;

// @mixin regular() {
//   font-family: 'Montserrat', sans-serif;
//   font-weight: 400;
// }

// @mixin semiBold() {
//   font-family: 'Montserrat', sans-serif;
//   font-weight: 600;
// }

@import "400-575.scss";
@import "576-767.scss";
@import "768-991.scss";
@import "992-1199.scss";


.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    min-height: 150px;
    background: #fff;

    &__logo img {
        width: 100px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__cart {
        display: flex;
        align-items: center;
        border: 2px solid black;
        padding: 5px 10px;
        cursor: pointer;
    }

    &__cart img {
        width: 20px;
        cursor: pointer;
        margin: 0px 5px 0px 0px;
    }

    &__price {
        font-weight: 600;
    }
}

.nav-header {
    &__list {
        display: flex;
    }

    &__link {
        text-decoration: none;
        color: #000;
        font-size: 20px;
        font-weight: 600;
    }

    &__link:hover {
        color: #696969;
    }

    &__items:not(:last-child) {
        margin: 0px 15px 0px 0px;
    }

}

.title {
    background-color: #DCDCDC;
    min-height: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    &__title {
        font-size: 40px;
        font-weight: 700;

    }
}

.search {
    margin: 30px 0px 0px 20px;
    padding: 10px;

    &__input {
        padding: 0px 10px;
        min-height: 25px;
        opacity: 0.5;
    }
}

.phones {
    padding: 20px 0px;

    &__blocks {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        padding: 10px;
        flex: 0 1 20%;

    }

}

.item-phones {
    &__wrapper {
        border: 1px solid rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0px;

    }

    &__content {
        margin: 10px 10px 20px 10px;
    }

    &__name {
        font-size: 18px;
        font-weight: 600;
        margin: 0px 0px 10px 0px;
    }

    &__price {
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        color: #FF6336
    }

    &__cart {
        cursor: pointer;
    }

    &__cart img {
        width: 18px;

    }
}



.pagination {
    width: 200px;
    margin: 0 auto;

    &__list {
        display: flex;
        width: 200px;
        text-align: center;
    }

    &__list li {
        cursor: pointer;
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 10px;
    }

    &__list li:not(:last-child) {
        margin: 0px 10px 0px 0px;
    }

    &__list li:hover,
    &__list li.active {
        border: 2px solid rgba(15, 10, 222, 0.5);
        color: rgba(15, 10, 222, 0.5)
    }
}

.modal {
    display: none;
    position: absolute;
    width: 600px;
    min-height: 200px;
    background-color: rgb(247, 241, 241);
    left: 700px;
    top: 70px;
    padding: 15px;
    border: 1px solid;
    transition: opacity 0.4s ease-in-out;
    &__close {
        position: absolute;
        right: 10px;
        top: 5px;
        cursor: pointer;
    }
    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__image img {
        width: 50px;
    }

    &__trash img {
        width: 20px;
        cursor: pointer;
    }
    &__price {
        font-weight: 600;
        font-size: 18px;
        color:#FF6336;
        text-align: center;
    }
    &__name {
        margin: 0px 0px 0px -100px;
        font-weight: 600;
        font-size: 18px;
    }


}

.modal-active {
    display: block;
}